conda.enabled = true
conda.useMicromamba = false
conda.channels = ['conda-forge', 'bioconda', 'defaults']
report.enabled = true
report.overwrite = true
timeline.enabled = true
timeline.overwrite = true
dag.enabled = true
dag.overwrite = true

// Set default max resource parameters
params.max_memory = 128.GB
params.max_cpus = 16
params.max_time = 240.h

// Default parameters for aggregate_emseq process
params.path_to_ngs_agg = ""
params.revision = ""
params.lane = "default"
params.sample = "default"

// Dynamic resource configuration included directly in this file

// Define basic process configuration
process {
    cpus   = 1
    memory = '6 GB'
    time   = '4 h'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
}
